

<div id=master-page data-role="page">
  <div data-theme="a" data-role="header" id=pageheader data-position="fixed">
    <h3> Audi 1.0 </h3>
    <a data-icon="gear" id=header-option>Opções</a>
    <a data-icon="arrow-u" id=header-collapse> Recolher </a>

  </div>

  <div data-role="content">
    <ul id='lista-principal' data-role="listview" data-filter="true" data-filter-placeholder="Pesquisar..." data-theme='c' data-divider-theme='b' data-split-icon="gear">
      <li data-role="list-divider" data-groupoptions="18.1" class='searchable'>
        <p>18.1 - Objetivo e Campo de Aplicação</p></li>
      <li data-groupoptions='18.1'><a>
        <p class='18.1.1'> 18.1.1 - Esta Norma Regulamentadora - NR estabelece diretrizes de ordem administrativa, de
          planejamento e de organização, que objetivam a implementação de medidas de controle e sistemas preventivos de
          segurança nos processos, nas condições e no meio ambiente de trabalho na Indústria da Construção. </p>
        <span class='obs'></span>
      </a>
      </li>
      <li data-groupoptions='18.1'><a>
        <p class='18.1.2'> 18.1.2 - Consideram-se atividades da Indústria da Construção as constantes do Quadro I,
          Código da Atividade Específica, da NR 4 - Serviços Especializados em Engenharia de Segurança e em Medicina do
          Trabalho e as atividades e serviços de demolição, reparo, pintura, limpeza e manutenção de edifícios em geral,
          de qualquer número de pavimentos ou tipo de construção, inclusive manutenção de obras de urbanização e
          paisagismo (Alterado pela Portaria SSST n.º 63, de 28 de dezembro de 1998). </p>
        <span class='obs'></span>

      </a>
      </li>
      <li data-groupoptions='18.1'><a>
        <p class='18.1.3'> 18.1.3 - É vedado o ingresso ou a permanência de trabalhadores no canteiro de obras, sem que
          estejam assegurados pelas medidas previstas nesta NR e compatíveis com a fase da obra. </p>
        <span class='obs'></span>

      </a>
      </li>
      <li data-groupoptions='18.1'><a>
        <p class='18.1.4'> 18.1.4 - A observância do estabelecido nesta NR não desobriga os empregadores do cumprimento
          das disposições relativas às condições e meio ambiente de trabalho, determinadas na legislação federal,
          estadual e/ou municipal, e em outras estabelecidas em negociações coletivas de trabalho. </p>
        <span class='obs'></span>
      </a>
      </li>
      <li data-role="list-divider" data-groupoptions="18.2"><p>18.2 - Comunicação Prévia</p></li>
      <li data-groupoptions='18.2'><a>
        <p class='18.2.1'> 18.2.1 - É obrigatória a comunicação à Delegacia Regional do Trabalho, antes do início das
          atividades, das seguintes informações:
          a) endereço correto da obra;
          b) endereço correto e qualificação (CEI,CGC ou CPF) do contratante, empregador ou condomínio;
          c) tipo de obra;
          d) datas previstas do início e conclusão da obra;
          e) número máximo previsto de trabalhadores na obra. </p>
        <span class='obs'></span>
      </a>
      </li>
      <li data-role="list-divider" data-groupoptions="18.3">
        <p> 18.3 - Programa de Condições e Meio Ambiente de Trabalho na Indústria da Construção - PCMAT </p></li>
      <li data-groupoptions='18.3'><a>
        <p class='18.3.1'> 18.3.1 - São obrigatórios a elaboração e o cumprimento do PCMAT nos estabelecimentos com 20
          (vinte) trabalhadores ou mais, contemplando os aspectos desta NR e outros dispositivos complementares de
          segurança. </p>
        <span class='obs'></span>
      </a>
      </li>
      <li data-groupoptions='18.3'><a>
        <p class='18.3.1.1'> 18.3.1.1 - O PCMAT deve contemplar as exigências contidas na NR 9 - Programa de Prevenção e
          Riscos Ambientais. </p>
        <span class='obs'></span>
      </a>
      </li>
      <li data-groupoptions='18.3'><a>
        <p class='18.3.1.2'> 18.3.1.2 - O PCMAT deve ser mantido no estabelecimento à disposição do órgão regional do
          Ministério do Trabalho - MTb. </p>
        <span class='obs'></span>
      </a>
      </li>
      <li data-groupoptions='18.3'><a>
        <p class='18.3.2'> 18.3.2 - O PCMAT deve ser elaborado e executado por profissional legalmente habilitado na
          área de segurança do trabalho. </p>
        <span class='obs'></span>
      </a>
      </li>
      <li data-groupoptions='18.3'><a>
        <p class='18.3.3'> 18.3.3 - A implementação do PCMAT nos estabelecimentos é de responsabilidade do empregador ou
          condomínio.</p>
        <span class='obs'></span>
      </a>
      </li>
      <li data-groupoptions='18.3'><a>
        <p class='18.3.4'> 18.3.4 - Documentos que integram o PCMAT:
          a) memorial sobre condições e meio ambiente de trabalho nas atividades e operações, levando-se em consideração
          riscos de acidentes e de doenças do trabalho e suas respectivas medidas preventivas;
          b) projeto de execução das proteções coletivas em conformidade com as etapas de execução da obra;
          c) especificação técnica das proteções coletivas e individuais a serem utilizadas;
          d) cronograma de implantação das medidas preventivas definidas no PCMAT;
          e) layout inicial do canteiro de obras, contemplando, inclusive, previsão de dimensionamento das áreas de
          vivência;
          f) programa educativo contemplando a temática de prevenção de acidentes e doenças do trabalho, com sua carga
          horária. </p>
        <span class='obs'></span>
      </a>
      </li>
    </ul>

  </div>

  <!--div data-role="popup" id="set-status" data-theme="a" class="ui-content" data-position-to='#pageheader' style="zoom:1;"-->
  <div data-role="popup" id="set-status" data-corners="false" data-theme="a" data-shadow="false" data-position-to='origin' data-tolerance="0,0">

    <p class='header truncate'> </p>
    <input type="text" id="obs" value="" data-clear-btn="true"  placeholder='Observações...'>

    <div  data-role='controlgroup' data-type='horizontal'>
      <%#= HREFs omitidos --> http://stackoverflow.com/questions/134845/href-attribute-for-javascript-links-or-javascriptvoid0 %>
      <a  id='pass' class='action-links' data-role=button > <%= image_tag('pass.png') %> <br> Regular  </a>
      <a  id='fail' class='action-links' data-role=button > <%= image_tag('fail.png') %> <br> Irregular</a>
      <a  id='att'  class='action-links' data-role=button > <%= image_tag('att.png')  %> <br> Atenção  </a>
      <a  id='corr' class='action-links' data-role=button > <%= image_tag('corr.png') %> <br> Corrigido</a>

      <a  data-role="button" class="action-links" style="margin-left:4px;"> <%= image_tag('clean.png') %> <br> Limpar </a>
      <span>

      </span>
    </div>

  </div>

</div>
